<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>e-Commerce</display-name>
  <welcome-file-list>
    <welcome-file>/Carrinho/ListaCarrinho</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>eCommerce.controle.web.Servlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>

  <!-- Estados -->
  <servlet-mapping>
  	<servlet-name>Servlet</servlet-name>
  	<url-pattern>/Estado/ConsultaEstado</url-pattern>
  </servlet-mapping>
  <!-- Cidades -->
  <servlet-mapping>
  	<servlet-name>Servlet</servlet-name>
  	<url-pattern>/Cidade/ConsultaCidade</url-pattern>
  </servlet-mapping>
  <!-- Carrinho Compras -->
  <servlet-mapping>
  	<servlet-name>Servlet</servlet-name>
  	<url-pattern>/Carrinho/ListaCarrinho</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Servlet</servlet-name>
  	<url-pattern>/Carrinho/AddLivro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Servlet</servlet-name>
  	<url-pattern>/Carrinho/AlterarLivro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Servlet</servlet-name>
  	<url-pattern>/Carrinho/FormCarrinho</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Servlet</servlet-name>
  	<url-pattern>/Carrinho/RemoverLivro</url-pattern>
  </servlet-mapping>
  <!-- Livros -->
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Livro/FormLivro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Livro/ListaLivro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Livro/CriarLivro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Livro/AlterarLivro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Livro/EditarLivro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Livro/ExcluirLivro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Livro/AtivarLivro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Livro/InativarLivro</url-pattern>
  </servlet-mapping>
  <!-- END Livros -->
  <!-- Grupo de Preço -->
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/GrupoPreco/FormGrupo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/GrupoPreco/ListaGrupo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/GrupoPreco/CriarGrupo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/GrupoPreco/AlterarGrupo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/GrupoPreco/EditarGrupo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/GrupoPreco/ExcluirGrupo</url-pattern>
  </servlet-mapping>
  <!-- END Grupo de Preço -->
  <!-- Autor -->
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Autor/FormAutor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Autor/ListaAutor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Autor/CriarAutor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Autor/AlterarAutor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Autor/EditarAutor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Autor/ExcluirAutor</url-pattern>
  </servlet-mapping>
  <!-- END Autor -->
  <!-- Editora -->
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Editora/FormEditora</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Editora/ListaEditora</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Editora/CriarEditora</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Editora/AlterarEditora</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Editora/EditarEditora</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Editora/ExcluirEditora</url-pattern>
  </servlet-mapping>
  <!-- END Editora -->
  <!-- Categoria -->
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Categoria/FormCategoria</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Categoria/ListaCategoria</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Categoria/CriarCategoria</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Categoria/AlterarCategoria</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Categoria/EditarCategoria</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Categoria/ExcluirCategoria</url-pattern>
  </servlet-mapping>
  <!-- END Categoria -->
  <!-- Subcategoria -->
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Subcategoria/FormSubcategoria</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Subcategoria/ListaSubcategoria</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Subcategoria/CriarSubcategoria</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Subcategoria/AlterarSubcategoria</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Subcategoria/EditarSubcategoria</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Subcategoria/ExcluirSubcategoria</url-pattern>
  </servlet-mapping>
  <!-- END Subcategoria -->
  <!-- Clientes -->
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
  	<url-pattern>/Cliente/RegistrarCliente</url-pattern>
  </servlet-mapping>
</web-app>